{% extends "base.html" %}

{% block title %}
    Django Two-Shot
{% endblock title %}
{% block content %}
    <main>
        <h1>Accounts</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Number of receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for data in account %}
                    <tr>
                        <td>{{ data.name }}</td>
                        <td>{{ data.number }}</td>
                        <td>{{ data.receipts.count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
